boxify/*
!boxify/.gitignore

exportTools/*
!exportTools/.gitignore

datasetsInput/*
!datasetsInput/.gitignore

configs/*
!configs/.gitignore

export dataset/*
!export dataset/.gitignore

export model/*
!export model/.gitignore

inference/*
!inference/.gitignore

models/*
!models/.gitignore

vocdataset/*
!vocdataset/.gitignore